name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet pack --no-restore --configuration=Release "/p:Version=2.0.2.#{GITHUB_RUN_NUMBER}"
    - name: Test
      run: dotnet test --no-build --verbosity normal
