name: Release

on:
  push:
    tags:
      - 'v*'

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup .NET 6
        uses: actions/setup-dotnet@v4
        with:
          - dotnet-version: 6.0.x

      - name: Setup .NET
        uses: actions/setup-dotnet@v4

      - name: Extract version from tag
        id: extract_version
        run: echo "version=${GITHUB_REF#refs/tags/v}" >> "$GITHUB_OUTPUT"

      - name: Restore dependencies
        run: dotnet restore

      - name: Build solution
        run: dotnet build --configuration Release --no-restore
   
      - name: Package
        run: dotnet pack ./Serilog.Sinks.Network/Serilog.Sinks.Network.csproj -c Release -o ./artifacts /p:Version=${{ steps.extract_version.outputs.version }}
        
      - name: Publish To NuGet
        env:
          NUGET_KEY: ${{ secrets.NUGET_KEY }}
        run: dotnet nuget push ./artifacts/*.nupkg --source https://api.nuget.org/v3/index.json --skip-duplicate --api-key ${{ secrets.NUGET_KEY }}
